
<div class="panel-heading centered-content">
  <h4 class="font-weight-bold">Your Quests</h4>
</div>

<div class="panel-body centered-content">
  <div class="row" style="padding: 10px;">
    <% @team.available_quests.each do |teamquest| %>
      <%= link_to teamquest_path(id: teamquest.id), class: "btn btn-large btn-primary" do %>
          <div class="row"><%= teamquest.quest.name %></div>
          <div class="row"><%= "(" + teamquest.score_earned.to_s + "/" + teamquest.quest.total_score.to_s + ")" %></div>
      <% end %>
    <% end %>
  </div>
</div>

