
<%= render 'dash_header' %>

<div class="row">
  <div class="col-md-4 text-center">
    Add
  </div>
  <div class="col-md-4 text-center">
    Content
  </div>
  <div class="col-md-4 text-center">
    Here
  </div>
</div>

<br><br>
<div>
  <%= render 'quests' %>
</div>
