<h2 class="font-weight-bold amber-lighter-hover mb-3">Team <%= current_user.team.name %></h2>

<div>
  <%= render 'roster' %>
</div>

<% if @join_requests.present? %>
<div>
  <%= render 'join_requests' %>
</div>
<% end %>
