<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div class="row col-md-10">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2"><b>Name:</b></div>
        <div class="col-md-6"><%= @user.name %></div>
      </div>
    </div>
  </div>
</div>
