<div class="row centered-content">
  <% if record.errors.any? %>
    <br><br>
    <div class="row col-md-10" >
      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
