
<div class="centered-content">
  <div class="row">
    <%= link_to "Manage Teams", teams_path, class: "btn btn-large btn-warning" %>
    <%= link_to "Manage Quests", quests_path, class: "btn btn-large btn-warning" %>
  </div>
</div>

