
<div class="row">
  <div class="col-3"></div>
  <%= link_to "Manage Teams", teams_path, class: "btn btn-large btn-warning m-2 col-2" %>
  <%= link_to "Manage Quests", quests_path, class: "btn btn-large btn-warning m-2 col-2" %>
  <%= link_to "Test AWS", awssamplers_path, class: "btn btn-large btn-warning m-2 col-2" %>
</div>

