
<div class="centered-content">
  <div class="row" style="display: inline-block;">
    Voyage is best played as part of a team.
  </div>

  <div class="row">
    <%= link_to "Create a new team", new_team_path, class: "btn btn-large btn-warning" %>
    <%= link_to "Join an existing team", select_join_teams_path, class: "btn btn-large btn-warning" %>
  </div>
</div>

