<h3 class="text-center">
  <strong>Voyage is best played as part of a team.</strong>
</h3>

<div class="row">
  <div class="col-4"></div>
  <%= link_to "Create a new team", new_team_path, class: "btn btn-large btn-warning col-2 m-2" %>
  <%= link_to "Join an existing team", select_join_teams_path, class: "btn btn-large btn-warning m-2 col-2" %>
</div>


