div.hidden { display: none; }

#notice {
  color: green;
}

.color-header th {
    background-color: rgba(165,234,255,.9);
    color: black;
    font-weight: bold;
    cursor: default;
}

.table-nonfluid {
   width: auto !important;
}
